{% extends 'craft-commerce-back-in-stock/_layouts' %}

{% do view.registerAssetBundle('craft\\web\\assets\\admintable\\AdminTableAsset') -%}

{% set crumbs = [
    { label: craft.backInStock.getPluginName() | t('craft-commerce-back-in-stock'), url: url('back-in-stock') },
    { label: 'Logs' | t('craft-commerce-back-in-stock'), url: url('back-in-stock/logs') },
] %}

{% set title = 'Logs' | t('craft-commerce-back-in-stock') %}
{% set selectedSubnavItem = 'logs' %}

{% block blockContent %}

<div id="logs-vue-admin-table"></div>

{% endblock %}

{% js %}
    var columns = [
        { name: '__slot:title', title: Craft.t('craft-commerce-back-in-stock', 'Email'), sortField: 'email' },
        { name: 'variantId', title: Craft.t('craft-commerce-back-in-stock', 'Product/Variant'), sortField: 'variantId', callback: function(value) {
            if (value) {
                return '<a href="' + value.cpEditUrl + '">' + value.title + '</a>';
            } else {
                return '-';
            }
        }  },
        { name: 'locale', title: Craft.t('craft-commerce-back-in-stock', 'Locale'), sortField: 'locale' },
        { name: 'isNotified', title: Craft.t('craft-commerce-back-in-stock', 'Notified'), sortField: 'isNotified', callback: function(value) {
            if (value) {
                return '<span class="status on"></span>' + Craft.t('craft-commerce-back-in-stock', 'Yes');
            } else {
                return '<span class="status"></span>' + Craft.t('craft-commerce-back-in-stock', 'No');
            }
        } },
        { name: 'dateCreated', title: Craft.t('craft-commerce-back-in-stock', 'Submitted'), sortField: 'dateCreated' },
    ];

    new Craft.VueAdminTable({
        columns: columns,
        container: '#logs-vue-admin-table',
        emptyMessage: Craft.t('craft-commerce-back-in-stock', 'No logs exist yet.'),
        tableDataEndpoint: Craft.getActionUrl('craft-commerce-back-in-stock/logs/get-logs'),
        search: true,
        perPage: 100,
    });
{% endjs %}
